@use '../mixins/pseudo.scss' as *;
body {
  font-family: sans-serif;

  &::after {
    @include pseudo(100vw, 1px) {
      position: fixed;
      top: 88px;
      left: 0;
      background-color: var(--border-variable);
    }
  }
}
