@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;

.design {
  margin-inline: 16px;
  margin-bottom: 72px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include responsive(desktop) {
    flex-direction: row;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__box {
    padding: 32px 16px 65.576px 16px;
    border-radius: 22px;
    background: #1a1a1a;

    &--new {
      padding-block: 32px 47px;
    }

    &-red {
      background-color: red;
    }
  }
}
