@use '../mixins/responsive.scss' as *;

.footer {
  margin-inline: 16px;
  margin-bottom: 32px;

  border-block: 1px solid rgb(0, 0%, 0%, 0.3);
  padding: 32px 17px;

  &__box {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__link {
    margin-block: 12px;
  }
}
