@use '../mixins/responsive.scss' as *;

.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid var(--border-variable);
  margin-bottom: 93px;
  z-index: 10;
  &__bar {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 17px;

    @include responsive(tablet) {
      padding: 28px 32px;
    }
  }

  &__logo {
    width: 34px;
    position: relative;
    z-index: 1;

    @include responsive(tablet) {
      width: 64px;
    }
  }

  &__menuicon {
    width: 24px;
    position: relative;
    z-index: 1;
  }

  &__hamburger {
    width: 20px;
    z-index: 1;
    cursor: pointer;
    @include responsive(tablet) {
      width: 34px;
    }
    @include responsive(laptop) {
      display: none;
    }
  }
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  translate: 100% 0;
  transition: translate 0.3s;

  @include responsive(laptop) {
    translate: 0;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: transparent;
    margin-top: 30px;
    z-index: 10;
    color: #242424;
  }
  @include responsive(desktop) {
    max-width: 1440px;
    margin-inline: auto;
  }

  &--active {
    translate: 0 0;
  }

  &__item {
    padding: 24px;
    @include responsive(laptop) {
      padding: 0 40px;
    }
  }

  &__link {
    font-family: 'Josefin Sans', serif;
    font-size: 24px;
    line-height: 25px;
    font-weight: 300;
  }
}
