@use '../mixins/responsive.scss' as *;

.infiniteText {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-inline: auto;
  font-family: 'ClashDisplay-SemiBold';
  font-weight: 600;
  font-size: 50px;
  line-height: 90%;
  letter-spacing: -2px;
  overflow: hidden;

  @include responsive(tablet) {
    height: 70px;
    font-size: 80px;
    top: 20px;
  }

  @include responsive(tablet) {
    height: 90px;
    font-size: 100px;
  }

  @include responsive(tablet) {
    height: 120px;
    font-size: 140px;
  }
}

@function generate-text-shadow($text-width) {
  $val: '';

  @for $i from 1 to 3 {
    $val: #{$val}, $text-width * $i 0;
  }

  @return $val;
}

.words {
  $text-width: 480px;
  display: inline-block;
  white-space: nowrap;
  width: $text-width;
  animation: move-text 6s linear infinite;
  text-shadow: generate-text-shadow($text-width);

  @include responsive(tablet) {
    $text-width: 1400px;
    width: $text-width;
    text-shadow: generate-text-shadow($text-width);
  }
}

.infiniteText-2 {
  position: relative;
  top: 156px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-inline: auto;
  font-family: 'ClashDisplay-SemiBold';
  font-weight: 600;
  font-size: 71px;
  line-height: 90%;
  letter-spacing: -2px;
  overflow: hidden;
  color: white;
  @include responsive(tablet) {
    height: 70px;
    font-size: 90px;
    top: 155px;

    font-size: 90px;
  }

  @include responsive(laptop) {
    height: 120px;
    font-size: 170px;
  }
}

@function generate-text-shadow-2($text-width) {
  $val: '';

  @for $i from 1 to 6 {
    $val: #{$val}, $text-width * $i 0;
  }

  @return $val;
}

.words-2 {
  position: relative;
  bottom: -1px;
  $text-width: 340px;
  display: inline-block;
  white-space: nowrap;
  width: $text-width;
  animation: move-text 6s linear infinite;
  text-shadow: generate-text-shadow-2($text-width);

  @include responsive(tablet) {
    $text-width: 420px;
    width: $text-width;
    text-shadow: generate-text-shadow-2($text-width);
  }

  @include responsive(laptop) {
    $text-width: 800px;
    width: $text-width;
    text-shadow: generate-text-shadow-2($text-width);
  }
}

.container-infiniteText {
  margin-bottom: 72px;

  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-inline: auto;
  font-family: 'ClashDisplay-SemiBold';
  font-weight: 600;
  font-size: 50px;
  line-height: 90%;
  letter-spacing: -2px;
  overflow: hidden;

  // -webkit-text-stroke-width: 1px; /* Spessore del contorno */
  // -webkit-text-stroke-color: #000; /* Colore del contorno */
  // color: transparent;
  // text-shadow: none;

  @include responsive(tablet) {
    height: 70px;
    font-size: 80px;
    top: 20px;
  }

  @include responsive(tablet) {
    height: 90px;
    font-size: 100px;
  }

  @include responsive(tablet) {
    height: 120px;
    font-size: 140px;
  }
}

@function generate-text-shadow($text-width) {
  $val: '';

  @for $i from 1 to 2 {
    $val: #{$val}, $text-width * $i 0;
  }

  @return $val;
}

.container-words {
  $text-width: 680px;
  display: inline-block;
  white-space: nowrap;
  width: $text-width;
  animation: move-text 6s linear infinite;
  text-shadow: generate-text-shadow($text-width);

  @include responsive(tablet) {
    $text-width: 1400px;
    width: $text-width;
    text-shadow: generate-text-shadow($text-width);
  }
}

@keyframes move-text {
  to {
    transform: translateX(-100%);
  }
}
