@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.main {
  max-width: 1440px;
  margin-inline: auto;
}

.mainvodafone {
  @include responsive(desktop) {
    max-width: 1440px;
    margin-inline: auto;
  }
}
