@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.project {
  background-color: black;
  padding-block: 60px;
  margin-bottom: 72px;

  &__box {
    width: 343px;
    height: 247px;

    margin-inline: auto;
    margin-bottom: 32px;
    border-radius: 21px;

    background-image: url('./assets/images/Card1.svg');
    background-size: cover;

    @include responsive(tablet) {
      width: 546px;
      background-position: center;
    }

    @include responsive(tablet) {
      background-position: top;
    }

    @include responsive(laptop) {
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    padding-top: 24px;
  }

  &__text {
    width: 215px;
    font-family: 'ClashDisplay-Light';
    font-size: 34px;
    line-height: 90%;
    color: white;
    font-weight: 300;
  }
}

.project-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project__box {
  background-color: rgb(236, 236, 236);
  padding: 1rem;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: white;
  transition: width 0.3s;
}

.project__text {
  font-size: 3rem;
}

.box-text {
  width: 60%;
}

.box-1 {
  width: 70%;
}

.box-2 {
  width: 30%;
}

@media (hover: hover) {
  .box-1:hover {
    width: 100%;
  }
}

@media (hover: hover) {
  .box-2:hover {
    width: 100%;
  }
}
