@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;

.project {
  background-color: black;
  padding-block: 60px;
  margin-bottom: 70px;
  position: relative;

  &__title {
    // width: 215px;

    font-family: 'ClashDisplay-Light';
    font-size: 34px;
    line-height: 90%;
    color: white;
    font-weight: 300;
    position: relative;

    &::after {
      @include pseudo(100%, 1px) {
        left: 0;
        bottom: -10px;
        background-color: #fff;
        scale: 0;
        transform-origin: left;
        transition: scale 0.8s ease;
      }
    }

    &--dark {
      color: black;
      &::after {
        background-color: black;
      }
    }
  }

  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-family: 'ClashDisplay-Light';
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -1%;
    max-width: 414px;
    @include responsive(laptop) {
      opacity: 0;
      transition: opacity 0.8s ease;
    }

    &--dark {
      color: black;
    }
  }

  &-row {
    @include responsive(laptop) {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-inline: 117px;
    }
    @include responsive(desktop) {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-inline: 123px;
    }
    &-reverse {
      @include responsive(laptop) {
        flex-direction: row-reverse;
      }
    }
  }

  &__icons {
    position: absolute;
    display: none;

    @include responsive(laptop) {
      display: block;
    }

    &-right {
      right: 40px;
    }
    &-left {
      left: 40px;
    }
  }

  &__box {
    position: relative;
    --bg-image-mobile: ;
    --bg-image-tablet: ;
    --bg-image-laptop: ;
    --bg-image-desktop: ;
    background-color: transparent;
    background-image: var(--bg-image-mobile);
    background-repeat: no-repeat;
    background-size: cover;
    height: 257px;

    padding: 40px 24px;
    margin-bottom: 32px;
    margin-inline: 16px;
    border-radius: 21px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    isolation: isolate;

    &::after {
      @include pseudo(100%, 100%) {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        transition: background-color 0.2s linear;
        background-color: transparent;
      }
    }
    @include hover {
      // REMOVER HERMANO SIGUIENTE
      & + .project__box .project__element {
        display: none;
      }
      // END

      &:has(.project__box-2:hover) .project__box-1 {
        background-color: red;
      }

      &::after {
        border-radius: 21px;
        background-color: rgba(79, 0, 88, 0.3);
      }
    }

    @include responsive(tablet) {
      height: 257px;
      background-position: center;
    }
    @include responsive(laptop) {
      background-position: center;
      transition: width 0.8s;
      height: 372px;

      @include hover {
        & .project__subtitle {
          opacity: 1;
        }

        & .project__title::after {
          scale: 1;
        }

        & .project__box-img {
          rotate: 45deg;
        }
      }
    }

    @include responsive(desktop) {
      background-position: center;
      height: 541px;
    }

    &--dark {
      @include hover {
        &::after {
          background-color: rgba(254, 254, 254, 0.4);
          border-radius: 21px;
        }
      }
    }

    &-img {
      transition: rotate 0.8s;
    }

    &-1 {
      @include responsive(laptop) {
        width: 60%;
        @include hover {
          width: 100%;
        }
      }
    }

    &-2 {
      @include responsive(laptop) {
        width: 40%;
        @include hover {
          width: 80%;
        }
      }
    }
  }
}
